<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Gestion des transations</title>
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
         <form action="" method="post">
             <input type="submit" name="logOut" id="logOut" value=" ">
            </form>
      <a href="../accueil.jsp"><img src="../images/logo.png" /> </a>
         <center>
             <h1> Ajout d'une transaction</h1>
        </center>
        <div id="cadre">
        <div id="formulaire">
           
        <form action="" method="post">
            <label id="lbl_ref">Référencce du bien</label>
            <select name="list_ref" id="list_ref">
            <option> </option>
            <option>Appartement</option>
            <option>Maison</option>
            </select>
             <br/>
            
             
            <label id="lbl_prop">Proprietaire</label>
             <select name="list_prop" id="list_prop">
            <option> </option>
            <option>prop1</option>
            <option>prop2</option>
            </select>
              <br/>
            
             <label id="lbl_client">Client</label>
             <select name="list_client" id="list_client">
            <option> </option>
            <option>client1</option>
            <option>client2</option>
            </select>
              <br/>
            
             <label id="lbl_type">Type de transaction</label>
            <select name="list_type" id="list_type">
            <option> </option>
            <option>Achat</option>
            <option>Location</option>
            </select>
             <br/>
           
        
         
            <label id="lbl_prixInit">Prix du bien</label>
            <input type="text" id="tf_prixInit" name="tf_prixInit">
              <br/>
            <label id="lbl_prixVente">Prix de vente</label>
            <input type="text" id="tf_prixVente" name="tf_prixVente">
              <br/>
            
            <label id="lbl_commission">Commision</label>
            <input type="text" id="tf_commision" name="tf_commision">
              <br/>
            
            <label id="lbl_dispo">Date de la vente</label>
            <input type="date" id="date" name="date">
            <br/>
               <center>
                   <input type="submit" name="btn_submit" id="btn_submit" value="Ajouter une transaction">
            </center>
        </form>
        </div>
        </div>

    </body>
</html>