body{
    background-size: 100% 100%;
}
table{
    border: 3px solid white; /* Bordure du tableau double et bleue */
    border-collapse: collapse; /* éviter d'avoir un quadrillage double */
    margin: 3vw auto;
    text-align: center;
    font-size: 1vw;


}
thead { /* Les cellules d'en-têtes */
    border: 0.2vw solid #40a0ff;
    color: white;

    background-color: #40a0ff;
    margin:0;


}
thead th{
    padding: 1.5vh 2vw;
}


button,input[type=submit]{
    background-color:white;
    border:1px solid #000;
    border-radius: 0.6vw;
    margin: 1.2vw;
    padding: 1vw;
}

button:hover,input[type=submit]:hover{
    background-color:#40a0ff;
}

.btn{
    font-size: 1.2vw;
}

#droite{
    float: right;
    display: flex;
}
#cadre{
    border: 3px solid;
    border-color: white;
    border-width: 5vw;
    width: 90vw;
    font-family: Tahoma;

}

#formulaire{
    border: 3px solid white ;
    border-width: 2vw;
    font-family: Tahoma;
   /*background-color:#77B5FE;*/
    padding: 5vw;


}

#formulaire label{
    color: black;
    position: relative;
    top: 10px;
    left: 30%;
    font-size: 1.3vw;
    padding: 25px;
    width: 10vw;


}

#formulaire input, #formulaire select{
    position: relative;
    top: -10px;
    left: 50%;
    display: flex;
    width: 10vw;


}

#formulaire p{
    font-size: 2vw;
    color:#40a0ff;
    text-align: center;

}



h1{
    font-size: 3vw;
    position: relative;
    top: 7vw;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    font-weight: 1;
}

a img{
    position: relative;
    width: 12vw;
    height: 12vh;
}

ul {
    position:fixed;
    top: 0vw;
    left: 15%;
    list-style-type: none;

}
ul li{
    display:inline-block;
    margin: 1.2vw;
    padding: 1.2vw;

}

ul img {
    position: relative;
    width: 3vw;
    height: 4vw;
}
li:hover{
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
#logOut{
    position: relative;
}




