<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
       ul{
           background-color: #40a0ff;
           list-style: none;
           position: fixed;
           padding: 10px 10px 10px 10px;
           bottom: 0;
           left: 0;
           width: 100%;
          text-align: center;
           font-size: 1vw;
       }


    </style>
</head>
<body>

<footer>
    <ul>
        <p> Projet réalisé par :</p>
        <li> LUZOLO Euphraïm </li>
        <li> ZAFAR Zain </li>
        <li> ZEMRANI MAlak</li>
        <p> L3-APP-LSI2</p>
    </ul>

</footer>

</body>
</html>