<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<a href="accueil.jsp"><img src="images/logo.png"/> </a>

<ul>
    <li><a href="biens/gestion.jsp"><img src="images/immeubles.png" /> </a></li>
    <li><a href="transactions/gestion.html"><img src="images/transaction.png" /> </a></li>
    <li><a href="visites/gestion.html"><img src="images/visites.png" /> </a></li>
    <li><a href="proprietaires/gestion.html"><img src="images/proprietaires.png" /> </a></li>
    <li><a href="clients/gestion.html"><img src="images/clients.png" /> </a></li>
    <li><a href="agents/gestion.html"><img src="images/agents.png" /> </a></li>
    <li><a href="../index.jsp"><img src="images/logOut.png" /> </a></li>




</ul>


</body>
</html>