<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Gestion des clients</title>
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
         <form action="" method="post">
             <input type="submit" name="logOut" id="logOut" value=" ">
            </form>
   
            <a href="../accueil.jsp"><img src="../images/logo.png"/> </a>
		<center>
            <h1> Liste des clients</h1>
        </center>
		<a href="ajout.html" target="_self"><button>Ajouter un client</button></a>
		<div id="droite">
            <form action="modif.html" method="post">
                <input type="submit" name="btn_update" id="btn_update" value="Modifier">
            </form>
            <form action="" method="post">
                <input type="submit" name="btn_delete" id="btn_delete" value="Supprimer">
            </form>
		</div>
       
           
            <table>
				
                 <thead>
					 <tr>
						<th></th>
					    <th></th>
						<th>Identifiant</th>
						<th>Nom </th>
						<th>Prénom </th>
						<th>Adresse </th>
						<th>Code postal </th>
						<th>Ville </th>
                        <th>Nombre d'achat </th>	
                        <th>Nombre de location </th>
				   </tr>
				 </thead>
			<tbody>
				   <tr>
					   <td> <input type="checkbox" name="selectionner" ></td>
					   <td> </td>

               </tr>
			</tbody>
               
            </table>
     

    </body>
</html>