<!-- <%@ page contentType="text/html;charset=UTF-8" language="java" %> -->
<!doctype html>
<html>

    <head>
      <meta charset="utf-8">
      <title>Gestion des agents</title>
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
    <!--
<header>
   <jsp:include page="../header.jsp"/>
</header>
-->
        <div style="text-align: center;">
            <h1> Modification d'un agent</h1>
        </div>
        <div id="cadre">
        <div id="formulaire">
           
        <form action="" method="post">
            <label id="lbl_nom">Nom</label>
            <input type="text" id="tf_nom" name="tf_nom" value="monNom">
              <br/>
            <label id="lbl_prenom">Prénom</label>
            <input type="text" id="tf_prenom" name="tf_prenom" value="monPrenom">
              <br/>
            
            <label id="lbl_adr">Adresse</label>
            <input type="text" id="tf_adr" name="tf_adr" value="monAdresse">
              <br/>
            <label id="lbl_cp">Code postal</label>
            <input type="text" id="tf_cp" name="tf_cp" value="monCP">
              <br/>
            
            <label id="lbl_ville">Ville</label>
            <input type="text" id="tf_ville" name="tf_ville" value="maVille">
              <br/>
            
             <label id="lbl_embauche">Date d'embauche</label>
            <input type="date" id="date" name="date" value="2022-05-01">
            <br/>
            
             <label id="lbl_salaire">Salaire</label>
            <input type="text" id="tf_salaire" name="tf_salaire" value=123456>
              <br/>
            
            <label id="lbl_admin">Administrateur ? </label>
            <input type="checkbox" id="admin" name="admin"  checked>
            <br/>
            
               <div style="text-align: center;">
                   <input type="submit" name="btn_submit" id="btn_submit" value="Modifier un agent">

            </div>
        </form>
        </div>
        </div>

    </body>
</html>